In [1]:
import pandas as pd

In [2]:
ec= pd.read_csv(r'C:\Users\abc\Desktop\Bootcamp practice\Ecommerce Customers')

In [3]:
ec

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...,...,...,...
495,lewisjessica@craig-evans.com,"4483 Jones Motorway Suite 872\nLake Jamiefurt,...",Tan,33.237660,13.566160,36.417985,3.746573,573.847438
496,katrina56@gmail.com,"172 Owen Divide Suite 497\nWest Richard, CA 19320",PaleVioletRed,34.702529,11.695736,37.190268,3.576526,529.049004
497,dale88@hotmail.com,"0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...",Cornsilk,32.646777,11.499409,38.332576,4.958264,551.620145
498,cwilson@hotmail.com,"680 Jennifer Lodge Apt. 808\nBrendachester, TX...",Teal,33.322501,12.391423,36.840086,2.336485,456.469510
499,hannahwilson@davidson.com,49791 Rachel Heights Apt. 898\nEast Drewboroug...,DarkMagenta,33.715981,12.418808,35.771016,2.735160,497.778642

In [4]:
ec.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

In [5]:
ec.isna().sum()

Email                   0
Address                 0
Avatar                  0
Avg. Session Length     0
Time on App             0
Time on Website         0
Length of Membership    0
Yearly Amount Spent     0
dtype: int64

In [6]:
ec.duplicated().sum()

0

In [7]:
# ec['Yearly Amount Spent'].unique()

In [8]:
# ec=ec['Avatar'].unique()

In [9]:
ec.drop(['Email'],axis=1,inplace=True)

In [10]:
ec.drop(['Address'],axis=1,inplace=True)

In [11]:
ec.head()

,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

In [12]:
# from sklearn.preprocessing import OneHotEncoder

In [13]:
# avatar_column = ec['Avatar']

In [14]:
# # Create an instance of the OneHotEncoder
# encoder = OneHotEncoder()

# # Fit and transform the Avatar column
# encoded_avatars = encoder.fit_transform(avatar_column.values.reshape(-1, 1))

In [15]:

# # Import label encoder
# from sklearn import preprocessing
  
# # label_encoder object knows 
# # how to understand word labels.
# label_encoder = preprocessing.LabelEncoder()
  
# # Encode labels in column 'species'.
# ec['Avatar']= label_encoder.fit_transform(df['Avatar'])
  
# ec['Avatar'].unique()

In [16]:
pd.get_dummies(ec.Avatar)

,AliceBlue,AntiqueWhite,Aqua,Aquamarine,Azure,Beige,Bisque,Black,BlanchedAlmond,Blue,...,Teal,Thistle,Tomato,Turquoise,Violet,Wheat,White,WhiteSmoke,Yellow,YellowGreen
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
498,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
pd.get_dummies(ec.Avatar)

,AliceBlue,AntiqueWhite,Aqua,Aquamarine,Azure,Beige,Bisque,Black,BlanchedAlmond,Blue,...,Teal,Thistle,Tomato,Turquoise,Violet,Wheat,White,WhiteSmoke,Yellow,YellowGreen
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
498,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
bostan= pd.read_excel(r'C:\Users\abc\Desktop\Bootcamp practice\Boston.XLSX')

In [19]:
bostan.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,price
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [20]:
bostan.isna().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
black      0
lstat      0
price      0
dtype: int64

In [21]:
bostan.duplicated().sum()

0

In [22]:
X=ec.iloc[:,:-1]

In [23]:
y=ec.iloc[:,-1]

In [24]:
X

,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership
0,Violet,34.497268,12.655651,39.577668,4.082621
1,DarkGreen,31.926272,11.109461,37.268959,2.664034
2,Bisque,33.000915,11.330278,37.110597,4.104543
3,SaddleBrown,34.305557,13.717514,36.721283,3.120179
4,MediumAquaMarine,33.330673,12.795189,37.536653,4.446308
...,...,...,...,...,...
495,Tan,33.237660,13.566160,36.417985,3.746573
496,PaleVioletRed,34.702529,11.695736,37.190268,3.576526
497,Cornsilk,32.646777,11.499409,38.332576,4.958264
498,Teal,33.322501,12.391423,36.840086,2.336485
499,DarkMagenta,33.715981,12.418808,35.771016,2.735160

In [25]:
y

0      587.951054
1      392.204933
2      487.547505
3      581.852344
4      599.406092
          ...
495    573.847438
496    529.049004
497    551.620145
498    456.469510
499    497.778642
Name: Yearly Amount Spent, Length: 500, dtype: float64

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0)

from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

In [27]:
X_train

,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership
239,White,31.720770,11.752343,38.573605,5.023934
59,Olive,33.754995,12.064157,37.271222,3.970556
406,GhostWhite,32.865301,12.074830,35.569170,2.399080
391,MediumVioletRed,33.481931,11.918670,37.317705,3.336339
411,Chartreuse,32.992573,13.004362,36.985041,4.620416
...,...,...,...,...,...
323,DarkOrange,32.762456,10.952353,37.646292,4.019470
192,LightGreen,33.694898,11.202670,35.493964,4.015987
117,Orange,33.059264,11.725910,35.999099,5.004821
47,BlueViolet,32.726785,12.988510,36.462003,4.113226
172,SpringGreen,34.482388,13.283033,35.907298,4.968743

In [28]:
y_train

239    538.774933
59     547.365141
406    411.186964
391    503.175085
411    589.026490
          ...
323    473.360496
192    505.119638
117    593.077241
47     563.672873
172    666.125592
Name: Yearly Amount Spent, Length: 375, dtype: float64

In [29]:
regressor.fit(X_train, y_train)

ValueError: could not convert string to float: 'White'

In [ ]:
# from sklearn.model_selection import train_test_split
# train_set, test_set  = train_test_split(ec, test_size=0.2, random_state=42)
# print(f"Rows in train set: {len(train_set)}\nRows in test set: {len(test_set)}\n")